@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: "Parabole";
  src: url("../public/assets/fonts/Parabole.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main: #67f450;
  --background: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--background);
}

a {
  font-size: 16px;
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Parabole;
}

h3 {
  text-align: center;
}

span {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 2%;
}

caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b4b4b4;
}

.main-color {
  color: var(--main);
  font-size: 20px;
}

.divider {
  border-width: 1px;
  border-color: #2d2d2d;
  width: 100%;
}

.layout {
  margin-top: 140px;
  margin-left: 96px;
  margin-right: 8px;
  position: relative;
  width: 100%;
}

.main-button {
  font-family: inherit;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  background-color: var(--main);
  border-radius: 10px;
  border: 0px;
  padding: 10px 32px;
  width: fit-content;
  outline: none;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  letter-spacing: 2%;
}

.main-button:disabled {
  background-color: gray;
}

.main-button:hover:disabled {
  transform: scale(1);
  cursor: not-allowed;
}

.main-button:hover {
  transform: scale(1.04);
}

.side-panel {
  background-color: black;
  color: white;
  padding: 16px;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .side-panel {
    display: none;
  }

  .layout {
    margin: 8px;
    padding-top: 80px;
  }

  .centered-mobile {
    justify-content: center !important;
  }
}
